{% extends 'base.html'%}
{% load static %}
{% block content %}
<body class = "light-green lighten-5">
    <br>
    <br>
    <br>
    <div class = "section container">
        <div class = "row">
            <form class = "col s12">
                <div class = "row card-panel"><p>¡El formulario ha sido completado exitosamente! Pronto nos contactaremos con usted.</p>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
        
            